<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Hackasuly</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap">
</head>

<body style="font-family: Roboto, sans-serif;">
    <header class="masthead" style="background: linear-gradient(123deg, #43cea2 0%, #185a9d 100%);">
        <div class="intro-body" style="background: rgba(47,47,47,0);padding: 60px;">
            <div class="container" style="height: auto;">
                <div class="col-lg-8 mx-auto" style="height: auto;">
                    <p class="intro-text" style="font-family: Cabin, sans-serif;font-size: 35px;height: auto;margin-bottom: 40px;">Here are the most qualified people for your job</p>
                    <div class="container" style="width: 500px;margin: auto;background: rgba(0,0,0,0.26);padding: 20px;border-radius: 12px;height: auto;overflow: hidden;margin-bottom: 30px;">
                        <p class="fw-semibold text-start" style="font-size: 25px;font-family: Roboto, sans-serif;width: 100%;color: rgb(255,255,255);margin: 0px;margin-bottom: 10px;">Zardasht Kaya</p>
                        <div style="float: left;width: 100%;margin-bottom: 5px;">
                            <p class="fw-light text-start" style="font-size: 20px;font-family: Roboto, sans-serif;width: 60%;float: left;margin: 0px;margin-right: 20px;color: rgb(255,255,255);">Javascript</p>
                            <p class="text-start" style="font-size: 20px;font-family: Roboto, sans-serif;width: auto;float: left;margin: 0;color: rgb(255,255,255);">93%</p>
                        </div>
                        <div style="width: 100%;float: left;">
                            <p class="fw-light text-start" style="font-size: 20px;font-family: Roboto, sans-serif;width: 60%;float: left;margin: 0px;margin-right: 20px;color: rgb(255,255,255);">UI Design</p>
                            <p class="text-start" style="font-size: 20px;font-family: Roboto, sans-serif;width: auto;float: left;margin: 0;color: rgb(255,255,255);">85%</p>
                        </div>
                        <div style="width: 100%;float: left;">
                            <p class="fw-light text-start" style="font-size: 20px;font-family: Roboto, sans-serif;width: 60%;float: left;margin: 0px;margin-right: 20px;color: rgb(255,255,255);">Content Writing</p>
                            <p class="text-start" style="font-size: 20px;font-family: Roboto, sans-serif;width: auto;float: left;margin: 0;color: rgb(255,255,255);">43%</p>
                        </div>
                        <div style="width: 100%;float: left;">
                            <p class="fw-light text-start" style="font-size: 20px;font-family: Roboto, sans-serif;width: 60%;float: left;margin: 0px;margin-right: 20px;color: rgb(255,255,255);">Communication</p>
                            <p class="text-start" style="font-size: 20px;font-family: Roboto, sans-serif;width: auto;float: left;margin: 0;color: rgb(255,255,255);">60%</p>
                        </div>
                        <div style="width: 100%;float: left;">
                            <p class="fw-light text-start" style="font-size: 20px;font-family: Roboto, sans-serif;width: 60%;float: left;margin: 0px;margin-right: 20px;color: rgb(255,255,255);">Teamwork</p>
                            <p class="text-start" style="font-size: 20px;font-family: Roboto, sans-serif;width: auto;float: left;margin: 0;color: rgb(255,255,255);">90%</p>
                        </div>
                        <div style="width: 100%;float: left;margin-top: 20PX;"><a href="Find%20Jobs.html" style="margin: 25px;padding: 6px 50px;color: rgb(255,255,255);font-family: Roboto, sans-serif;text-decoration: none;border-style: solid;border-radius: 16px;width: auto;">View CV</a><a href="Find%20Jobs.html" style="margin: 25px;padding: 6px 50px;color: rgb(255,255,255);font-family: Roboto, sans-serif;text-decoration: none;border-style: solid;border-radius: 16px;">Contact</a></div>
                    </div>
                    <div class="container" style="width: 500px;margin: auto;background: rgba(0,0,0,0.26);padding: 20px;border-radius: 12px;height: auto;overflow: hidden;margin-bottom: 30px;">
                        <p class="fw-semibold text-start" style="font-size: 25px;font-family: Roboto, sans-serif;width: 100%;color: rgb(255,255,255);margin: 0px;margin-bottom: 10px;">Hamashwan Nihad</p>
                        <div style="float: left;width: 100%;margin-bottom: 5px;">
                            <p class="fw-light text-start" style="font-size: 20px;font-family: Roboto, sans-serif;width: 60%;float: left;margin: 0px;margin-right: 20px;color: rgb(255,255,255);">Javascript</p>
                            <p class="text-start" style="font-size: 20px;font-family: Roboto, sans-serif;width: auto;float: left;margin: 0;color: rgb(255,255,255);">20%</p>
                        </div>
                        <div style="width: 100%;float: left;">
                            <p class="fw-light text-start" style="font-size: 20px;font-family: Roboto, sans-serif;width: 60%;float: left;margin: 0px;margin-right: 20px;color: rgb(255,255,255);">UI Design</p>
                            <p class="text-start" style="font-size: 20px;font-family: Roboto, sans-serif;width: auto;float: left;margin: 0;color: rgb(255,255,255);">90%</p>
                        </div>
                        <div style="width: 100%;float: left;">
                            <p class="fw-light text-start" style="font-size: 20px;font-family: Roboto, sans-serif;width: 60%;float: left;margin: 0px;margin-right: 20px;color: rgb(255,255,255);">Content Writing</p>
                            <p class="text-start" style="font-size: 20px;font-family: Roboto, sans-serif;width: auto;float: left;margin: 0;color: rgb(255,255,255);">100%</p>
                        </div>
                        <div style="width: 100%;float: left;">
                            <p class="fw-light text-start" style="font-size: 20px;font-family: Roboto, sans-serif;width: 60%;float: left;margin: 0px;margin-right: 20px;color: rgb(255,255,255);">Communication</p>
                            <p class="text-start" style="font-size: 20px;font-family: Roboto, sans-serif;width: auto;float: left;margin: 0;color: rgb(255,255,255);">40%</p>
                        </div>
                        <div style="width: 100%;float: left;">
                            <p class="fw-light text-start" style="font-size: 20px;font-family: Roboto, sans-serif;width: 60%;float: left;margin: 0px;margin-right: 20px;color: rgb(255,255,255);">Teamwork</p>
                            <p class="text-start" style="font-size: 20px;font-family: Roboto, sans-serif;width: auto;float: left;margin: 0;color: rgb(255,255,255);">90%</p>
                        </div>
                        <div style="width: 100%;float: left;margin-top: 20PX;"><a href="Find%20Jobs.html" style="margin: 25px;padding: 6px 50px;color: rgb(255,255,255);font-family: Roboto, sans-serif;text-decoration: none;border-style: solid;border-radius: 16px;width: auto;">View CV</a><a href="Find%20Jobs.html" style="margin: 25px;padding: 6px 50px;color: rgb(255,255,255);font-family: Roboto, sans-serif;text-decoration: none;border-style: solid;border-radius: 16px;">Contact</a></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/grayscale.js"></script>
</body>

</html>