<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Hackasuly</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap">
</head>

<body>
    <header class="masthead" style="background: url(&quot;assets/img/intro-bg.jpg&quot;);">
        <div class="intro-body" style="background: rgba(47,47,47,0);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto" style="height: 578.2px;">
                        <h1 class="brand-heading" style="font-size: 90px;font-family: Roboto, sans-serif;">TELL US WHAT YOU NEED</h1>
                        <p class="intro-text" style="font-family: Cabin, sans-serif;">And immediately see the perfect candidates</p><label class="form-label" style="font-family: Roboto, sans-serif;width: 70px;margin: 0px 20px 0px 20px;">Field</label><label class="form-label" style="font-family: Roboto, sans-serif;width: 300px;margin: 0px 20px 0px 20px;">Computer Science (Other fields coming soon!)</label><label class="form-label" style="font-family: Roboto, sans-serif;width: 70px;margin: 0px 20px 0px 20px;">Position</label>
                        <div class="dropdown"><button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">Dropdown </button>
                            <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                        </div><label class="form-label" style="font-family: Roboto, sans-serif;width: 70px;margin: 0px 20px 0px 20px;">Tools and languages</label>
                        <div class="dropdown"><button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">Dropdown </button>
                            <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                        </div><label class="form-label" style="font-family: Roboto, sans-serif;width: 70px;margin: 0px 20px 0px 20px;">Tools and languages</label>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/grayscale.js"></script>
</body>

</html>